@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  h1 {
    @apply text-4xl font-bold text-gray-800 md:text-5xl;
  }

  h2 {
    @apply text-2xl font-semibold text-gray-700 md:text-3xl;
  }

  p {
    @apply text-base leading-relaxed text-gray-600;
  }
}

.swiper-pagination-bullet {
  background-color: #f97316 !important; /* orange-600 */
  opacity: 0.5 !important;
  width: 10px !important;
  height: 10px !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  background-color: #fb923c !important; /* orange-400 */
  opacity: 1 !important;
  width: 14px !important;
  height: 14px !important;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-slide-in {
  animation: slide-in 0.4s ease-out;
}
